*{margin:0px;padding:0px;outline:0px;}
body{font-family:arial;font-size:14px;line-height:18px;background:#f302eb;}
.template{width:960px;margin:0px auto;background:#fcfcfc;}
.clear{overflow:hidden;}
.headersection{}
.head{
    padding-left: 46px;
    background: #e7e401;
    height: 56px;
}
.headerleft{
	
}
.headerleft h2{
    font-size: 35px;
    line-height: 35px;
    float: left;
    color: #fff;
    padding-top: 9px;
}


.headerright{}
.headerright ul{
    padding-left: 115px;
    font-size: 20px;
    padding-top: 19px;
	}
.headerright ul li{float:left;list-style:none;}
.headerright ul li a{
    text-decoration: none;
    padding-left: 30px;
    color: #f800ef;
	}
.headerright ul li a:hover{color:#0147e7;}


.banner{
	padding-left:50px;
	padding-right:50px;
	padding-top:50px;
}
.branerleft{
	float:left;
	width:500px;
}
.branerleft h1{
	padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
}
.branerleft p{
	font-size: 15px;
    line-height: 23px;
    padding-bottom: 15px;
}
.branerleft a{}
.branerleft a:hover{}


.branerright{
	
}
.branerright img{}


.servissection{}
.servis{
    background: #00ADEF;
    width: 254px;
    float: left;
    margin-left: 50px;
    margin-bottom: 36px;
    height: 234px;
   
}
.servis:hover{
	box-shadow: 0px 0px 12px 0px;
	color:#fff;
}
.servis h2{
	font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 26px;
    color: #fff;
}
.servis p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 19px;
}


.fotter{
	background: #0ec2f6;
    padding-top: 20px;
}
.fottertop{
	text-align: center;
}
.fottertop_img{}
.fottertop_img a{
	padding-left: 20px;
}
.fottertop_img a img{
	width: 30px;
}


.fotterbottom{
    height: 30px
}
.fotterbottom p{
	padding-left: 121px;
    font-size: 20px;
}
